[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Vendor/nanoid_cpp"]
	path = Vendor/nanoid_cpp
	url = https://github.com/mcmikecreations/nanoid_cpp
