[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/nanoid_cpp"]
	path = vendor/nanoid_cpp
	url = https://github.com/mcmikecreations/nanoid_cpp
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "vendor/libarchive"]
	path = vendor/libarchive
	url = https://github.com/libarchive/libarchive
